* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, sans-serif;
}


body {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: #f4f6f9;
}


.container {
display: flex;
flex-direction: column;
gap: 25px;
width: 90%;
max-width: 400px;
}


.btn {
width: 100%;
border: none;
border-radius: 12px;
cursor: pointer;
color: white;
background: #00a8ff;
transition: 0.2s ease;
}


.btn.xl {
height: 60px;
font-size: 18px;
}


.btn:hover {
filter: brightness(1.15);
transform: translateY(-2px);
box-shadow: 0 6px 14px rgba(0,0,0,0.12);
}